<section style="margin: auto; display: flex; flex-direction: column; align-items: center; font-family: Arial;">
  <div style="border-radius: 8px; padding: 20px; background-color: black; color: white; margin-bottom: 2rem;">
    {{ authUser$ | async | json }}
  </div>

  <div style="display: flex;">
    <form #form="ngForm" style="display: flex; flex-direction: row;">
      <div>
        <input type="text" name="userEmail" id="userEmail"
          placeholder="Email"
          autocomplete="off"
          ngModel #userEmail="ngModel" email required>

          <div *ngIf="userEmail?.invalid && (userEmail?.touched || userEmail?.dirty)">
            <small style="color: red; font-size: 12px;">
              Campo Inválido
            </small>
          </div>
      </div>

      <button style="display: flex; margin-bottom: auto;" (click)="login(form)">
        Login
      </button>
    </form>
  </div>
</section>